# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

README\.txt

LICENSE\.txt

LICENSE-Paulscode SoundSystem CodecIBXM\.txt

LICENSE-Paulscode IBXM Library\.txt

forge-1\.12\.2-14\.23\.5\.2836-changelog\.txt

CREDITS\.txt
